body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'consolas';
  background-color:black;
  color: gray;
  text-align: center;
}

.button {
  font-family: 'consolas';
  font-size: 2vmin;
  width: 15vmin;
  height: 5vmin;
  margin: 1vmin;
  border-radius: 1vmin;
}

.largeButton{
  width: 50vmin;
  height: 15vmin;
  margin: 1vmin;
  border-radius: 3vmin;
}

.heading{
  font-size: 3vmin;
}

.bodyText{
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 2vmin;
}