body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'consolas';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:black;
  color: gray;

  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  font-family: 'consolas';
  font-size: x-large;
  width: 15vmin;
  height: 5vmin;
  margin: 1vmin;
}

.largeButton{
  width: 50vmin;
  height: 15vmin;
  margin: 1vmin;
}

.heading{
  font-size: x-large;
}

.bodyText{
  margin-left: 10vw;
  margin-right: 10vw;
}